<form action="/???">
  <label for="question">Write anything dude</label>
  <input type="text" id="question" name="???" placeholder="what is the meaning of life?">
  <input type="submit" value="shoot!">
</form>
